<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>234932694048-kn6qgdbqtq62utl85dmogpv76mov8eqe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.234932694048-kn6qgdbqtq62utl85dmogpv76mov8eqe</string>
	<key>API_KEY</key>
	<string>AIzaSyB7dUbfy1c3X8xqFuTY_nC1TECFjYib6bw</string>
	<key>GCM_SENDER_ID</key>
	<string>234932694048</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.chalupnik.FireChat</string>
	<key>PROJECT_ID</key>
	<string>firechat-bd4b4</string>
	<key>STORAGE_BUCKET</key>
	<string>firechat-bd4b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:234932694048:ios:3e8ba53bb77a2a1dd3a045</string>
</dict>
</plist>